@{
    ViewData["Title"] = "Data Page";
}

<div class="text-center">
    <h1 class="display-4">Data</h1>
    <table>
        <tr>
            <td>Data</td>
        </tr>
    </table>
</div>
